<header>
    <div class="logo">
      <div class="logo-icon"></div>
      <img src="https://raw.githubusercontent.com/adarshagupta/trybookai/main/logo.png" width="50px" alt="BookAI Logo">BookAI
    </div>
    <nav>
      <a href="#features">Features</a>
      <a href="#how-it-works">How It Works</a>
      <a href="#roadmap">Roadmap</a>
      <a href="https://trybookai.com/api">API</a>
      <a href="https://trybookai.com/api#pricing">Price</a>
      <a href="https://trybookai.com/api#pricing">Models</a>
      <a href="javascript:void(0);" id="auth-button">Login / Sign Up</a>
      <a href="javascript:void(0);" id="profile-button" style="display: none;">Profile</a>
      <a href="javascript:void(0);" id="logout-button" style="display: none;">Log Out</a>
  </nav>
</header>